.z-index-1 {
    z-index: 1 !important;
}

.z-index-2 {
    z-index: 2 !important;
}

.link-styles {
    text-decoration: none!;
    color: black;
    text-transform: uppercase;
}

.page-body {
    position: relative;
    top: 59px;
    @media (min-width: 576px) { 
        top: 76px;
    }
}

.shopNowButton {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 500;
}

.header-container {
    transition: background-color 0.3s;
}

.modal-xl {
    max-width: 95%;
}

.margin-end {
    margin-left: auto;
}

.cart-products {
    border-bottom: 2px solid #5e5e5e;
    border-top: 2px solid #5e5e5e;
}

.no-focus:focus {
    outline: none;
    box-shadow: none;
}

.music-carousel .carousel-indicators {
    display: none;
}

.youtube-embedded {
    height: '390px';
    width: '640px';
}

.bandcamp-embedded, .spotify-embedded {
    height: 307px;
    max-width: 700px;
}

.apple-embedded {
    height: 450px;
    max-width: 700px;
}

.event-description {
    max-height: 300px;
    overflow-y: auto;
}